<div class="jumbotron">
  <div class="title_and_nav">
    <div class="title">Personal Dash</div>
    <div class="dropdown pull-right">
      <a class="dropdown-toggle" type="button" data-toggle="dropdown"><%= @dashboard.user.email %>
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <% @widgets.each do |widget| %>
    <% if standard_template(widget) %>
      <div class="col-md-3">
        <div class="panel panel-default icon-panel">
          <div class="panel-heading">
            <a  class="collapse-btn"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <h2 class="panel-title pull-right"><%= widget.name %></h2>
          </div>
          <div class="panel-body">
            <%=raw standard_template_for(widget) %>
          </div>
        </div>
      </div>
    <% end %>
    <%=raw map_template_for(widget) if map_template(widget) %>
  <% end %>
</div>
